html {
    height: 100%;
}

body {
    font-family: "Expert-Sans-Regular", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    background- color: #fff;
    color: #666;
    margin: 0;
    padding: 0;
}

svg {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Expert-Sans-Light", "Helvetica", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-rendering: auto;
    color: #00395d;
}
p{
    font-family: "Expert-Sans-Light", "Helvetica", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-rendering: auto;  
}

.btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #0074a6;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family: "Expert-Sans-Regular", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    color: #0074a6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.1s ease-in-out;
}

.btn:hover {
    color: #0074a6;
    background: #f1f1f1;
    border-color: #00395d;
}

.btn--link {
    font-size: 17px;
    line-height: 22px;
    text-transform: none;
    padding: 8px 10px 8px 0;
    color: #0074a6;
    text-decoration: none;
}

.btn--link:after {
    content: ">";
    display: inline-block;
}

a img {
    border: none;
}

header {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.meta-nav {
    background: #0074a6;
    height: 56px;
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.meta-nav__buttons {
    display: none;
}

.meta-nav__search {
    width: 340px;
    display: inline-block;
    float: right;
    margin-right: 88px;
    margin-top: 4px;
}


#search_form .meta-nav__search-select {
    width: 154px;
    height: 46px;
    padding: 9px 12px;
    background: #fff url('assets/dropdown.jpg') no-repeat;
    /*border: 1px solid #cbcbcb;*/
    border: none;
    /*border-radius: 0.3125rem;*/
    color: #716f73;
    font-size: 16px;
    line-height: 1.5em;
    vertical-align: top;
}

#search_form .meta-nav__search-input {
    width: 156px;
    height: 30px;
    /*padding: 10px 12px;*/
    background: #fff url('assets/search.jpg') no-repeat;
    /*border: 0.0625rem solid #cbcbcb;*/
    border: none;
    /*border-radius: 0.3125rem;*/
    padding: 12px 12px 4px 12px;
    font-size: 16px;
    color: #716f73;
    line-height: 1.5em;
    vertical-align: top;
}

#search_form .meta-nav__search-btn {
    display: inline-block;
    width: 50px;
    height: 40px;
    vertical-align: middle;
    position: relative;
    background: #fff url('assets/search.jpg') no-repeat -129px -2px;
    border: none;
    left: 284px;
    top: -44px;
}
/*
#search_form .meta-nav__search-btn:after {
    content: "Find";
    display: inline-block;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
}*/

.meta-nav__logout {
    display: inline-block;
    float: right;
    width: 60px;
    height: 40px;
    position: absolute;
    right: 0;
    margin: 7px 9px 0 4px;
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.meta-nav__logout button {
    display: block;
    width: 40px;
    height: 38px;
    border: none;
    background: #fff url('assets/logout.jpg') no-repeat;
}

.meta-nav__logout button:hover {
    display: block;
    width: 40px;
    height: 38px;
    border: none;
    background: #fff url('assets/logout.jpg') no-repeat;
}

/*.meta-nav__logout button:after {
    content: "Logout";
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    position: absolute;
    right: 2px;.meta-nav__logout button
    top: 4px;
}*/

.meta-nav__links {
    float: right;
    position: absolute;
    right: 445px;
    display: inline-block;
    border-right: 1px solid #fff;
    margin-top: 8px;
}

.meta-nav__links ul {
    margin: 0 10px 0 0;
    padding: 0;
    list-style: none;
}

.meta-nav__links li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.meta-nav__links li a {
    padding: 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.header__logo {
    display: block;
    width: 180px;
    float: left;
    position: absolute;
    top: 0;
    left: 40px;
}

.header__logo img {
    width: 100%;
    height: auto;
}

.topbar {

}

.topbar__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Expert-Sans-Light", "Helvetica", Helvetica, Arial, sans-serif;
    background: #ededeb;
    overflow: hidden;
}

.topbar__mobile-menu {
    display: none;
}

.topbar__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topbar__item {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}

.topbar__item a {
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 18px;
    color: #000;
    background: #ededeb;
    border-right: 1px solid #fff;
    font-weight: 500;
}

.topbar__item a:hover {
    color: #fff;
    background: #0074a6;
}

.breadcrumb {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.breadcrumb__list {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 16px auto 0 auto;
    padding: 0 0 0 23px;
    list-style: none;
}

.breadcrumb__spacer {
    display: inline-block;
}

.breadcrumb__spacer:after {
    display: inline-block;
    content: " ";
    background: transparent url('assets/spacer.png') center center no-repeat;
    background-size: 12px;
    height: 6px;
    color: #0074a6;
    font-size: 23px;
    font-weight: bold;
    vertical-align: middle;
    padding: 8px 10px;
}

.breadcrumb__item {
    margin: 0;
    padding: 8px 0;
    display: inline-block;
}

.breadcrumb__item a {
    color: #0074a6;
    text-decoration: none;
}

.breadcrumb__item a:hover {
    color: #000;
}

main {
/*    width: 100%;
    max-width: 1200px;
    margin: 0 auto;*/
}

.bg--accent-light, .background-alternate {
    background-color: #ededeb;
}

.slider {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.slider__list {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.slider__item {
    width: 100%;
}

.slider__link img {
    -ms-flex-order: 2;
    order: 2;
    display: block;
    width: 100%;
    /*height: auto;*/
}

.slider__controls {
    min-height: 0;
    position: static;
    display: block;
}

.slider__control-prev {
    left: 1.25rem;
}

.slider__control-prev:after {
    content: "<";
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
}

.slider__control-next {
    right: 1.25rem;
}

.slider__control-next:after {
    content: ">";
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
}

.slider__control-prev, .slider__control-next {
    border-radius: 100%;
    margin-top: -1.875rem;
    top: 50%;
}

.slider__control-prev, .slider__control-next {
    display: block;
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.5rem;
    padding-top: 0;
    position: absolute;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    z-index: 10;
    color: #018fd0;
}

.slider__content {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 85%;
    max-width: 75rem;
    height: auto;
    padding: 0.9375rem;
    margin: 0 auto;
    border: 0;
    background-clip: inherit;
    background-color: transparent;
    color: #fff;
    text-align: left;
    padding: 30px;
}

.slider__content h2 {
    color: #fff;
}

.slider__content button {
    display: inline-block;
    color: #fff;
    /*background: #018fd0;*/
    /*border-color: #018fd0;*/
    text-decoration: none;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 8px 2px;
    /*background-color: #085da9;*/
    border: none;
    border-radius: 0;
    text-align: center;
    font-family: "Open-Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: none;
    background: transparent url('assets/btn1.png') center center no-repeat;
    overflow: visible;
}

.slider__content button:before {
    content: " ";
    display: block;
    width: 8px;
    height: 100%;
    background: transparent url('assets/btn1.png') left center no-repeat;
    position: absolute;
    top: 0;
    left: -8px;
}

.slider__content button:after {
    content: " ";
    display: block;
    width: 8px;
    height: 100%;
    background: transparent  url('assets/btn1.png') right center no-repeat;
    position: absolute;
    top: 0;
    right: -8px;
}

.slider__content button:hover {
    color: #fff;
    background: transparent url('assets/btn2.png') center center no-repeat;
}

.slider__content button:hover:before {
    content: " ";
    display: block;
    width: 8px;
    height: 100%;
    background: transparent url('assets/btn2.png') left center no-repeat;
    position: absolute;
    top: 0;
    left: -8px;
}

.slider__content button:hover:after {
    content: " ";
    display: block;
    width: 8px;
    height: 100%;
    background: transparent  url('assets/btn2.png') right center no-repeat;
    position: absolute;
    top: 0;
    right: -8px;
}

.slider__nav {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    text-align: center;
}

.slider__nav a {
    width: auto;
    height: 44px;
    line-height: 44px;
    display: inline-block;
    padding: 0 30px;
    cursor: pointer;
    background-color: #018fd0;
    text-decoration: none;
    color: #fff;
}

.slider__nav a.slider__nav-item--active {
    color: #fff;
    background-color: #3F1962;
}

.slider__nav a:hover {
    color: #fff;
    background-color: #3F1962;
}

.carousel {
    display: none;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px 0;
}

.teaser__container {}

#page-intro {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.spacer {
    clear: both;
    display: block;
    height: 58px;
}

.text-brick {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

.teaser {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.teaser__item {
    width: 24%;
    /*display: inline-block;*/
    display: block;
    float: left;
    position: relative;
    margin-bottom: 10px;
    margin-right: 1%;
}

.teaser__item a {
    display: block;
}

.teaser__item--medium {
    width: 49%;
}

.teaser__item--large {
    width: 100%;
    margin-right: 0;
}

.teaser__content {
    display: block;
    height: 190px;
    margin: 20px 40px 20px 20px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0074a6;
    background: rgba(0, 116, 166, 0.85);
    color: #fff;
}

.teaser__item--large .teaser__content {
    width: 94%;
    height: 140px;
}

.teaser__img {
    width: 100%;
    height: auto;
    min-height: 10rem;
}

.teaser__item--medium .teaser__content {
    margin: 20px 30px 20px 20px;
}

.teaser__content h2 {
    font-size: 20px;
    /*font-family: Expert-Sans-Bold;*/
    margin-top: 0;
    text-overflow: ellipsis;
    width: auto;
    overflow: hidden;
    text-transform: capitalize;
    color: #fff;
}

.teaser__content p {
    line-height: 1.8125rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
    text-rendering: auto;
}

.teaser__content .teaser__btn {
    position: absolute;
    bottom: 30px;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    border-color: transparent;
    background-color: transparent;
}

.teaser__content .teaser__btn .icon {
    display: none;
}

.teaser__content .teaser__btn:after {
    content: ">";
    display: inline-block;
}

.teaser__content .teaser__btn:hover {
    color: #00395d;
}

.links {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.links .links__item.gallery {
    float: left;
    display: block;
    margin-right: 20px;
    width: 46%;
    margin-bottom: 7px;
    padding: 10px;
    background-color: #ededeb;
}

.links .links__item.gallery .teaser-list__img {
    float: left;
    display: block;
    margin-right: 11px;
    width: 32%;
}

.links .links__item.gallery .links__text {
    float: left;
    display: block;
    margin-right: 1.9356%;
    width: 57.52684%;
}

.links .links__item.gallery .links__text p {
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.links .links__item.gallery .links__text small {
    font-size: 19px;
    display: block;
    color: #666;
    margin-bottom: 12px;
}

.links .links__item.gallery .links__text small p {
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 500;
}

.links .links__item.gallery .links__text .btn__group > .btn {
    position: relative;
    float: left;
    margin-right: 5px;
    margin-bottom: 1px;
    width: 42px;
    height: 42px;
    padding: 0;
    border: none;
    background: #fff url('assets/buy.jpg') no-repeat;
}
/*
.links .links__item.gallery .links__text .btn__group > .btn:after {
    content: "Buy";
    display: inline-block;
    color: #0074a6;
}*/

.tab {
    clear: both;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.tab__nav {
    display: block;
    list-style: none;
    margin: 10px auto 20px auto;
    max-width: 75rem;
    padding: 35px 10px 0 10px;
    background-color: #cbcbcb;
    overflow: hidden;
}

.tab__nav::after {
    clear: both;
    content: "";
    display: table;
}

.tab__nav-item {
    display: block;
    float: left;
    margin: 5px 10px 0 0;
    font-size: 14px;
    font-family: "Expert-Sans-Light", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

.tab__nav-item a {
    padding: 15px 20px;
    border-top-right-radius: 0.3125rem;
    border-top-left-radius: 0.3125rem;
    background-color: #ededeb;
    color: #0074a6;
    display: block;
    text-decoration: none;
}

.tab__nav-item--active a {
    background-color: #fff;
    color: #666;
}

.tab__panel--active {
    display: block;
    float: none;
    height: auto !important;
}

.tab__panel {
    overflow-y: hidden;
    height: 0;
    z-index: 0;
}

.section-title {
    padding: 50px 10px 20px 10px;
}

.section-title__text {
    padding-bottom: 12px;
    border-bottom-width: 0.0625rem;
    border-bottom-style: solid;
    border-bottom-color: #716f73;
    font-size: 23px;
    color: #666;
}

.text-brick {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0 10px 20px;
}

.text-brick__inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.text-brick__inner figure {
    margin: 0;
    padding: 0;
}

.text-brick__inner img {
    width: 100%;
    height: auto;
}

.accordion {
    margin: 0 auto;
    display: block;
    padding: 0 10px;
}

.accordion__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.accordion__item {
    display: block;
    border-top: 0.0625rem solid #716f73;
}

.accordion__title {
    display: block;
    margin: 0;
    padding: 20px 40px 20px 20px;
    position: relative;
    font-size: 23px;
    line-height: 1.125;
    font-weight: 700;
    cursor: pointer;
    color: #00395d;
    background: #fff url('assets/ac1.jpg') no-repeat 98% 20px;
}

.accordion__title:hover {
    background: #efefef url('assets/ac3.jpg') no-repeat 98% 20px;
}

.accordion__content {
    overflow-y: hidden;
    height: 0;
}

.accordion__item--open .accordion__title {
    color: #fff;
    background: #00395d url('assets/ac2.jpg') no-repeat 98% 20px;
}

.accordion__item--open .accordion__content {
    padding: 0 40px 0 20px;
    display: block;
    float: none;
    height: auto;
}

footer {
    display: block;
}

.footer {
    clear: both;
}

.footer__inner {
    background: #f5f5f5;
    padding-bottom: 80px;
}

.footer__nav-wrapper {
    background: #f5f5f5;
    padding: 40px 10px;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-nav {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.footer-nav__group {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 240px;
    float: left;
}

.footer-nav__group li {
    margin: 0;
    padding: 0;
    display: block;
}

.footer-nav__group li > span {
    color: #0074a6;
    display: block;
    padding-bottom: 15px;
    margin-bottom:20px;
    border-bottom: 1px solid #716f73;
    font-family: "Expert-Sans-Light", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
}

.remodal__footer-template {
    display: none;
}

.footer__meta-wrapper {
    background: #f5f5f5;
}

.footer__meta-wrapper .logo {
    display: none;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__meta-wrapper .logo a {
    display: inline-block;
    margin-bottom: 20px;
}

.footer__meta-wrapper .logo img {
    width: 300px;
    height: auto;
}



@media (max-width: 640px) {
    .teaser__item {
        width: 100%;
    }

    .meta-nav__search {
        display: none;
    }

    .meta-nav__links {
        right: 75px;
        border-right: none;
    }

    .topbar ul li {
        display: block;
        width: 100%;
    }

    .topbar ul li a {
        display: block;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #fff;
    }
}

@media (min-width: 641px) and (max-width: 1000px) {
    .teaser__content {
        height: 260px;
    }

    .teaser__content p {
        line-height: 1.3em;
    }

}



.jcarousel-wrapper {
    margin: 0 auto;
    position: relative;
    border: none;
    width: 100%;
    max-width: 1200px;
    height: 500px;
}


.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    position: relative;
}

.jcarousel li img {
    width: 1200px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    display: block;
    position: absolute;
    top: 240px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: transparent url('assets/circle.png') center center no-repeat;
    color: #018fd0;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 32px/27px Arial, sans-serif;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    behavior: url(assets/PIE.htc);
}

.jcarousel-control-prev {
    left: 20px;
}

.jcarousel-control-next {
    right: 20px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

/*.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    line-height: 14px;
    min-width: 14px;

    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;

    margin-right: 2px;

    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}*/
